/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-image: url(assetsC/2109.webp);
}
/* Center content vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    background-image: url("assetsC/1st\ BG.jpg");
    color: #fff;
    padding: 20px;
}
nav ul {
    display: flex;
}
nav li {
    margin-left: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
/* Main */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
#myinfo {
    margin-bottom: 40px;
 }
 #myinfo h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #222;
    text-align: center;
    margin-right: 130px;
 }
 .myinfo-item p {
    font-size: 18px;
    color: #666;
 }
 .myinfo-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0);
    margin-right: 40px;
    margin-top: -60px;
    margin-left: -20px;
 }
#myskills {
    margin: 0;
 }
 #myskills h2{
    text-align: center;
    margin-right: 180px;
 }
 .myskills-item ul{
    margin-left: 230px;
    margin-bottom: 20px;
 }
#myexp {
    margin: 0;
 }
 #myexp h2 {
    text-align: center;
    margin-right: 115px;
 }
 .myexp-item li {
    margin-left: 230px;  
 }  
 .FB-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    float: left;
    margin-left: -220px;
    
}
.FB-icon ion-icon {
    font-size: 50px;
    color: #3b5998;
    margin-right: 10px;
    transition: color 0.5s;
    text-decoration: none;
}
.FB-icon ion-icon:hover {
    color: #1500ff;

}
.YT-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    float: left;
    margin-left: -120px;
    
}
.YT-icon ion-icon {
    font-size: 50px;
    color: #c00000d1;
    margin-right: 10px;
    transition: color 0.5s;
    text-decoration: none;
}
.YT-icon ion-icon:hover {
    color: #ff0000;

}
.DC-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    float: left;
    margin-left: -220px;
    
}
.DC-icon ion-icon {
    font-size: 50px;
    color: #406ccc;
    margin-right: 10px;
    transition: color 0.5s;
    text-decoration: none;
}
.DC-icon ion-icon:hover {
    color: #020202;

}
.IG-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    float: left;
    margin-left: -120px;
    
}
.IG-icon ion-icon {
    font-size: 50px;
    color: #ffb917d5;
    margin-right: 10px;
    transition: color 0.5s;
    text-decoration: none;
}
.IG-icon ion-icon:hover {
    color: #fbff00;

}