<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <header>
        <h1>About Me</h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5500/Portfolio/Main/Portfolio.html">Home</a></li>
                <li><a href="http://127.0.0.1:5500/Portfolio/Main/components/Projects.html">Projects</a></li>
                <li><a href="http://127.0.0.1:5500/Portfolio/Main/components/Contacts.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <section id="myinfo">
            <h2>Who Am I?</h2>
            <div class="myinfo-item">
                <img src="assetsC/48383240_2154657044591926_650740390621609984_n.jpg" alt="Profile picture">
                <p>My name is Adolfo Allenoel R. Tuvalles and I'm a junior developer of StackTrek based in Iloilo City. I have a passion for building beautiful and responsive Software that may help businesses achieve their goals.</p>
                <div class="FB-icon">
                    <a href="https://www.facebook.com/AdolfoTuvalles" target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </div>
                <div class="YT-icon">
                    <a href="https://www.youtube.com/channel/UCFZQu9qTupRx_rtQcDSRSWA" target="_blank">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </div>
                <div class="DC-icon">
                    <a href="https://discord.gg/8hE6y5br" target="_blank">
                        <ion-icon name="logo-discord"></ion-icon>
                    </a>
                </div>
                <div class="GH-icon">
                    <a href="https://github.com/dolpeX0" target="_blank">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </div>
            </div>
        </section>
        
        <section id="myskills">
            <h2>My Skills</h2>
            <div class="myskills-item">
                <ul>
                    <li>HTML</li><li>Python</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node.js</li>
                </ul>
            </div>
        </section>

        <section id="myexp">
            <h2>My Experience</h2>
            <div class="myexp-item">
                 <ul>
                     <li>Internship a StackTrek Company (2023-present)</li>
                     <li>Web Developer at XYZ Company (2018-2021)</li>
                     <li>Freelance Web Developer (2015-2018)</li>
                     <li>Web Design Intern at ABC Agency (2014-2015)</li>
                 </ul>
            </div>
        </section>
    </main>
</body>
</html>
