/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
  line-height: 1.5;
  background-image: url("assets/2nd\ BG.jpg");
	background-size: cover;
}
/* Center content vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 20px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #222;
}

section p {
    font-size: 18px;
    color: #666;
}

section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0);
}
